<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="initial-scale=1,maximum-scale=1,user-scalable=no">
  <title>Prosjektregistrering</title>
  <link rel="stylesheet" href="https://js.arcgis.com/4.6/esri/css/main.css">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
  <link rel="stylesheet" href="css\turregistrering.css">
  <script src="https://unpkg.com/vue/dist/vue.js"></script>
  <script src="https://js.arcgis.com/4.6/"></script>
  <script src="js\friluftsregistrering.js"></script>
</head>
<body>
  <div id="helvete">
    <div id="info-wrapper">
      <div id="info" class="" v-if="infoSynlig">
        <span class="tittel">Hva vil du gjøre</span>
        <p>Velg en registrert topp eller registrer en ny topp for å starte</p>
        <button type="button" name="nytopp" @click="nyTopp">Ny topp</button>
      </div>
      <div id="velgtopp" v-if="velgtoppSynlig">
        <div class="toppheading form-item">
          <span class="tittel">{{ valgttopp.navn }}</span>
          <i class="esri-icon-close closebtn" @click="lukkMeny" aria-hidden="true"></i>
        </div>
        <p>Høyde: {{ valgttopp.hoyde }} moh</p>
        <p>{{ valgttopp.beskrivelse }}</p>
        <p>Er dette riktig topp?</p>
        <button type="button" name="button">Ja</button>
        <button type="button" name="button" @click="nyTopp">Registrer ny topp</button>

      </div>
      <div id="topp-registrering" v-if="registreringSynlig">
        <div class="toppheading form-item">
          <span class="tittel">Registrer topp</span>
          <i class="esri-icon-close closebtn" @click="lukkMeny" aria-hidden="true"></i>
        </div>
        <form class="form-item" action="/action_page.php">
          <div class="form-group">
            <label for="toppnavn">Navn på fjelltopp</label>
            <input type="text" name="toppnavn" placeholder="Skriv inn fjelltoppnavn">
          </div>
          <div class="form-group">
            <label for="beskrivelse">Beskrivelse</label>
            <textarea name="beskrivelse" rows="8" cols="80" placeholder="Gi en kort beskrivelse av fjellet"></textarea>
          </div>
          <div id="hoyde" class="form-group">
            <label for="hoyde">Høyde</label>
            <input type="text" name="hoyde" placeholder="Høyde på fjellet">
          </div>
          <div class="form-group">
            <label for="merknad">Merknader</label>
            <input type="text" name="merknad" placeholder="Skriv inn merknad hvis det er noen">
          </div>
          <div class="form-group">
            <label for="registrertav">Registret av</label>
            <input type="text" name="registrertav" placeholder="Hvis du ønsker kan du registrere navn her">
          </div>
          <button type="button" name="sendInn" @click="sendinnTopp">Registrer fjelltopp</button>
        </form>
      </div>
    </div>
    <div id="viewDiv"></div>
  </div>

  <script type="text/javascript"></script>
</body>
</html>
